#infoMain{width: 100%;border-top: #dddddd 1px solid;margin-top: 30px;padding-top: 30px;}
#infoMain2{width: 100%;margin-top: 30px;padding-top: 30px;}
#spMasterName{font-size: 30pt;margin-left: 20px;}
#readername{font-size: 30pt;margin-left: 20px;}
#spBig2{font-size: 14pt;color: #888888;margin-left: 20px;}
#infoMainbottom{width: 100%; margin-top: 15px;overflow: hidden;}
#infoMainLeft{width: 400px;height: 250px;float: left;border-right: #bbbbbb 1px solid;padding-left: 50px;text-align: left;}
#infoMainRight{width: 400px;height: 250px;float: left;padding-left: 50px;text-align: left;}
#infoMainLeft div{line-height: 80px;font-size: 14pt;font-weight: bolder;}
#infoMainLeft div span{font-weight: normal;margin-left: 10px;}
#infoMainRight div{line-height: 80px;font-size: 14pt;font-weight: bolder;}
#infoMainRight div span{font-weight: normal;margin-left: 10px;}
